@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
	.main{
        @apply min-h-screen p-16 flex-1 flex flex-col justify-center items-center;
    }

    .strong{
        @apply font-bold text-6xl;
    }

    .sub{
        @apply text-3xl align-middle;
    }

    .link{
        @apply hover:underline text-green-500;
    }
}

/*min-height: 100vh;
padding: 4rem 0;
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;*/